= simple_form_for(@note) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :content, input_html: {rows: 8}

  .form-group.form-group
    = f.button :submit, class: "btn btn-primary"
