%h2.page-header My notes

.row
    .col-md-12
        -unless @notes.blank?
            - @notes.each_slice(4) do |notes|
                .row
                    - notes.each do |note|
                        .col-md-3
                            %a{href: (url_for [note]), class: "note-well"}
                                .well
                                    %h4= note.title
                                    %p
                                        %small
                                            Created
                                            =  time_ago_in_words note.created_at
                                            ago
        - else
            .alert.alert-info
                %h3 Add Note
                %p It seems you haven't created any notes yet... Lets fix that. Why don't you create your first note below.

            = link_to "New Note", new_note_path, class: "btn btn-lg btn-primary"
