%h2.page-header= @note.title

= simple_format(@note.content)

.btn-group
    = link_to 'Back', notes_path, class: "btn btn-default"
    = link_to 'Edit', edit_note_path(@note), class: "btn btn-warning"
    = link_to 'Delete', note_path(@note), method: :delete, class: "btn btn-danger"
