.row
    .col-md-6.col-md-offset-3
        %h2 Sign up

        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = f.error_notification

            .form-inputs
                = f.input :full_name, required: true, autofocus: true
                = f.input :email, required: true
                = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
                = f.input :password_confirmation, required: true

            .form-actions.form-group
                = f.button :submit, "Sign up"

        = render "devise/shared/links"
