.jumbotron
    %h1 What's Nevernote?

    %p 
        %strong 
            Nevernote
        is a demo web application developed in 
        %em
            Ruby on Rails
        and is similar to 
        %em
            Evernote.

    %p= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary"

.row
    .col-md-12
        .text-center 
            .lead "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."
            Someone famous in 
            %cite{:title => "Nevernote"} Nevernote


%hr

.row
    .col-md-4
        %h2 Heading
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
            %a.btn.btn-default{:href => "#", :role => "button"} View details »
    .col-md-4
        %h2 Heading
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
            %a.btn.btn-default{:href => "#", :role => "button"} View details »
    .col-md-4
        %h2 Heading
        %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        %p
            %a.btn.btn-default{:href => "#", :role => "button"} View details »
