!!!
%html
    %head
        %title Nevernote
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = csrf_meta_tags

    %body
        %nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
                        %span.sr-only Toggle navigation
                        %span.icon-bar
                        %span.icon-bar
                        %span.icon-bar
                    = link_to "Nevernote", root_path, class: "navbar-brand"
                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    - if user_signed_in?
                        %ul.nav.navbar-nav
                            %li= link_to "All Notes", root_path
                            %li= link_to "New Note", new_note_path
                    %ul.nav.navbar-nav.navbar-right
                        - if user_signed_in?
                            %li.navbar-text 
                                Signed in as:
                                = current_user.full_name
                        %li= link_to "Logout", destroy_user_session_path, method: :delete if user_signed_in?
                        %li= link_to "Log in", new_user_session_path if !user_signed_in?
                        %li= link_to "Register", new_user_registration_path if !user_signed_in?

        .container
            = content_tag :div, alert, class: "alert alert-danger" if alert
            = content_tag :div, notice, class: "alert alert-success" if notice

            = yield

        .container
            %hr

            %footer
                %p &copy; 2016 LykourgosTs@hotmail.com

        = javascript_include_tag 'application', 'data-turbolinks-track' => true
